<div class="container top-30">
  
<div class="row">

  <div class="col-md-3">

    <label for="termino">Buscador de artistas </label>


    <input type="text" [(ngModel)]="termino" name="termino"
    (keyup)="buscarArtista()"
    class="form-control"  placeholder="Buscar por artista...">
    <hr>


  </div>
</div>




    <div class="col-md-9">

      <div class="row">
        <div class="col-md-3 text-center puntero"
          [routerLink]="['/artista',artista.id]"
        *ngFor="let artista of _spotifyService.artistas">

          <img [src]="artista.images | sinfoto" class="img-fluid img-thumbail">
        <p>{{artista.name}}</p>
        
        </div>

      </div>


    </div>

  
  </div>

